{% extends 'main.html' %}
{% load static %}
  {% block content %}

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row no-gutters">
        <div class="col-lg-6 video-box">
          <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
          <a href="" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

          <div class="section-title">
            <h2>معلومات عنا</h2>
            <p>نقدم دورات في كل مجالات البرمجة 
              انشاء و برمجة تطبيقات و مواقع الويب 
              تعلم الشبكات 
             لمزيد من التفاصيل يمكنكم مراسلتنا.</p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bx bx-leaf"></i></div>
            <h4 class="title"><a href="">أساسيات الإعلام الآلي</a></h4>
            <p class="description">لا يمكن لأي مبرمج أن يعمل على مشروع تكنولوجي دون أن يعرف كيف يعمل جهازه الخاص، لهذا نقدم دورات كيفية تشخيص المشاكل الجهاز و كيفية العمل على نظام التشغيل والبرامج الأساسية.</p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bx bx-code"></i></div>
            <h4 class="title"><a href="">تطوير مهارات البرمجة</a></h4>
            <p class="description">برمجة تطبيقات الهواتف، تطبيقات الواب و البرامج من خلال مشاريعهم الناشئة ،كما لا ننسى تهيئة الخوادم وكل مايحتاجه المبرمج.</p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bx bx-briefcase"></i></div>
            <h4 class="title"><a href="">تسيير مشروعك التكنولوجي</a></h4>
            <p class="description">
            الكثير من المبرمجين أو اصحاب المشاريح الناشئة يقعون في الأخطاء الشائعة، فلا توجد دروس متكاملة خاصة ببيئتهم والتي تعطيهم نظرة شاملة عن طريقة إستهداف العملاء، التسويق وغيرها.
            </p>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Counts Section ======= -->
  <section class="counts section-bg">
    <div class="container">

      <div class="row aos-init aos-animate" data-aos="fade-up">

        <div class="col-lg-3 col-md-6 text-center" data-aos-delay="100">
          <div class="count-box">
            <i class="bi bi-emoji-smile"></i>
            <span data-purecounter-start="0" data-purecounter-end="{{clients}}" data-purecounter-duration="1" class="purecounter"></span>
            <p>المتربصون</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6  text-center" data-aos-delay="200">
          <div class="count-box">
            <i class="bi bi-youtube"></i>
            <span data-purecounter-start="0" data-purecounter-end="{{formations}}" data-purecounter-duration="1" class="purecounter"></span>
            <p>الدورات</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6  text-center" data-aos-delay="400">
          <div class="count-box">
            <i class="bi bi-journal-richtext"></i>
            <span data-purecounter-start="0" data-purecounter-end="{{projectss}}" data-purecounter-duration="1" class="purecounter"></span>
            <p>المشاريع</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6  text-center" data-aos-delay="600">
          <div class="count-box">
            <i class="bi bi-people"></i>
            <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
            <p>الدفعات</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->

  {% endblock content %}