{% extends 'main.html' %}
{% load static %}
  {% block content %}

 <!-- ======= Hero Section ======= -->
 <section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item carousel-item1 active">
          <div class="carousel-container">
            <div class="carousel-content container">
              <h2 class="animate__animated animate__fadeInDown">مرحبا بكم <span>خدمات البرمجة</span></h2>
              <p class="animate__animated animate__fadeInUp">نوفر لكم دورة في مجال البرمجة التي باتت ذات أهمية بالغة وذات طلب كبير في عصر التكنولوجيا.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">اقرأ المزيد</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item carousel-item2">
          <div class="carousel-container">
            <div class="carousel-content container">
              <h2 class="animate__animated animate__fadeInDown">فريق العمل</h2>
              <p class="animate__animated animate__fadeInUp">تحت إشراف كل من الأستاذ وحيد (للذكور) والأستاذة سعاد (للإناث) .</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">اقرأ المزيد</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item carousel-item3">
          <div class="carousel-container">
            <div class="carousel-content container">
              <h2 class="animate__animated animate__fadeInDown">نقدم دورات في كل مجالات البرمجة</h2>
              <p class="animate__animated animate__fadeInUp">تعلم python
                تعلم Bureautique
                انشاء مواقع ويب Frontend
                برمجة مواقع ويب Backend
                تعلم الشبكات réseaux.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">اقرأ المزيد</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row no-gutters">
        <div class="col-lg-6 video-box">
          <img src="{% static 'assets/img/about.jpg' %}" class="img-fluid" alt="">
          <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
        </div>

        <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

          <div class="section-title">
            <h2>معلومات عنا</h2>
            <p>نقدم دورات في كل مجالات البرمجة 
              تعلم python
              تعلم Bureautique
              انشاء مواقع ويب Frontend
              برمجة مواقع ويب Backend
              تعلم الشبكات réseaux
              Backend
              development web
              Frontend لمزيد من التفاصيل يمكنكم مراسلتنا.</p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bx-fingerprint"></i></div>
            <h4 class="title"><a href="">نحن في خدمتكم</a></h4>
            <p class="description">الدورة عند بعد ولمدة شهر  والسعر حسب تخصص الذي تختار أن تتعلمه وتتقنه </p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bx-gift"></i></div>
            <h4 class="title"><a href="">تطوير مهارات</a></h4>
            <p class="description">طور مهاراتك بالتسجيل عبر منصتنا أونلاين.</p>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  <!-- ======= Counts Section ======= -->
  <section class="counts section-bg">
    <div class="container">

      <div class="row">

        <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
          <div class="count-box">
            <i class="bi bi-simple-smile" style="color: #20b38e;"></i>
            <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
            <p>عملاء</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="200">
          <div class="count-box">
            <i class="bi bi-document-folder" style="color: #c042ff;"></i>
            <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
            <p>مشاريع</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="400">
          <div class="count-box">
            <i class="bi bi-live-support" style="color: #46d1ff;"></i>
            <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
            <p>ساعات من الدعم</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="600">
          <div class="count-box">
            <i class="bi bi-users-alt-5" style="color: #ffb459;"></i>
            <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
            <p>دورات</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Counts Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>الخدمات</h2>
        <p>نقدم خدمات في كل مجالات البرمجة </p>
      </div>
      
      <div class="row">
        {% for s in services %}
        <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
          
          <div class="service-item position-relative m-2">
            <div class="icon"><img width="200" height="120" src="{% static s.image.url %}" alt=""></div>
            <h4 align="center"><a href="{% url 'service' s.id %}" class="stretched-link">{{ s.designation|cut:'_' }}</a></h4>
            <!-- <p>{{ s.description }}</p> -->
          </div>
          
        </div>
        {% endfor %}
      </div>

    </div>
  </section><!-- End Services Section -->

  <!-- ======= Our Portfolio Section ======= -->
  <section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="section-title">
        <h2>الدورات</h2>
        <p>نقدم دورات في كل مجالات البرمجة </p>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">جميع</li>
            {% for s in categories %}
            <li data-filter=".{{s.designation}}">{{s.designation}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="row portfolio-container">

        {% for p in projects %}
        <div class="col-lg-4 col-md-6 portfolio-item {{p.services}}">
          <div class="portfolio-wrap">
            <img src="{% static p.image.url %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>{{p.title|upper}}</h4>
              <p>{{p.description}}</p>
              <div class="portfolio-links">
                <a href="{% static p.image.url %}" title="{{p.title}}" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="{% url 'project-details' p.id  %}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div>
        </div><!-- End Portfolio Item -->
        {% endfor %}

      </div>

    </div>
  </section><!-- End Our Portfolio Section -->

  <!-- ======= Our Team Section ======= -->
  <section id="team" class="team">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>مشاريع</h2>
        <p>أهم المشاريع التي تم انجازها من طرف مطورين شركتنا.</p>
      </div>

      <div class="row">
        {% for prj in proj %}
        <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
          <div class="member">
            <div class="pic"><img src="{% static prj.image.url %}" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>{{prj.title}}</h4>
              <span>{{prj.price}}0 دج</span>
              <!-- <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div> -->
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </section><!-- End Our Team Section -->

  <!-- ======= Contact Us Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>تواصل معنا</h2>
      </div>

      <div class="row">

        <div class="col-lg-6 d-flex" data-aos="fade-up">
          <div class="info-box">
            <i class="bx bx-map"></i>
            <h3>العنوان</h3>
            <p>A108 Adam Street, New York, NY 535022</p>
          </div>
        </div>

        <div class="col-lg-3 d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="info-box">
            <i class="bx bx-envelope"></i>
            <h3>البريد الإلكتروني</h3>
            <p>info@example.com<br>contact@example.com</p>
          </div>
        </div>

        <div class="col-lg-3 d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="info-box ">
            <i class="bx bx-phone-call"></i>
            <h3>اتصل بنا</h3>
            <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
          </div>
        </div>

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="300">
          <form action="#" method="post" class="php-email-form">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="اسمك" required>
              </div>
              <div class="col-lg-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="البريد الإلكتروني" required>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="الموضوع" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" placeholder="الرسالة" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit" name="submit">أرسل رسالة</button></div>
          </form>
          <!-- <form action="#" method="post" class="php-email-form">
            {% csrf_token %}
            <div class="form-floating mb-3" dir="rtl">
                <input name="name" class="form-control" id="name" type="text" placeholder="Enter your nom..." data-sb-validations="required" required>
                <label for="name" style="right: 0;">اسمك</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
            </div>
            <div class="form-floating mb-3">
                <input name="email" class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" required>
                <label data-i18n="email" for="email" style="right: 0;">البريد الإلكتروني</label>
                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
            </div>
            <div class="form-floating mb-3">
                <textarea name="message" class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required" required></textarea>
                <label for="message" style="right: 0;">الرسالة</label>
                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
            </div>
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                    To activate this form, sign up at
                    <br />
                    <a href="#"></a>
                </div>
            </div>
            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
            <div align="center">
                <button class="btn btn-primary btn-xl" id="submitButton" type="submit" name="submit">ارسال</button>
            </div>
          </form> -->
        </div>

      </div>

    </div>
  </section><!-- End Contact Us Section -->

</main><!-- End #main -->
{% if messages %}
		{% for message in messages %}
			<div class="alert {{ message.tags }}" id="msg" role="alert">
				<script>
					alert('{{ message }}');
				</script>
			</div>
		{% endfor %}
	{% endif %}
{% endblock content %}