{% extends 'main.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="container">
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'store' %}">الصفحة الرئيسية</a></li>
            <li class="current">تفاصيل الدورة</li>
          </ol>
        </nav>
        <h1>الحجز في الدورة {{projects.title}}</h1>
      </div>
    </div>
    <!-- End Page Title -->
    <div align="center">
      <form class="w-50">
        <div class="mb-3 d-flex align-items-start">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 d-flex align-items-start">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check d-flex align-items-start">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

  </main>
{% endblock content %}
        


