{% extends 'main.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

  <main class="main row">

    <!-- Page Title -->
    <div class="page-title col-lg-6 col-md-12" data-aos="fade">
      <div class="container">
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'store' %}">الصفحة الرئيسية</a></li>
            <li class="current">تفاصيل الخدمة</li>
          </ol>
        </nav>
        <h1>الحجز في الخدمة {{vservices.designation}}</h1>
        <p>{{vservices.description}}</p>
        <img src="{{vservices.image.url}}" width="500" alt="">
      </div>
    </div>
    <!-- End Page Title -->
    <div align="center" class="col-lg-6 col-md-12">
        <div class="login-content">
          <form method="post">
            {% csrf_token %}
            <h2 class="title">التسجــــــيل</h2>
                   <div class="input-div one">
                      <div class="icon">
                          <i class="fas fa-user"></i>
                      </div>
                      <div class="div">
                {% render_field registerForm.name id="name" class="input" placeholder="الاسم و اللقب" %}
                      </div>
                   </div>
            <div class="input-div pass">
              <div class="icon"> 
                 <i class="fas fa-phone"></i>
              </div>
              <div class="div">
                 {% render_field registerForm.phone id="phone" class="input" placeholder="رقم الهاتف" %}
              </div>
              </div>
              <div class="input-div pass">
              {% render_field registerForm.isregistred id="isregistred" %}
              <a href="#" style="margin-right:40px;">أنت مسجل من قبل؟</a>
            </div>
            <div class="input-div pass">
              <a href="#">الدورة</a>
              {% render_field registerForm.project id="project" style="width:70%; margin-right:40px;" %}
            </div>
            
                  <input type="submit" class="btn" value="ارسال">
          </form>
        </div>
    </div>

  </main>
{% endblock content %}
        


